.alert-content {
    display: inline-flex;
    position: relative;
}

.alert-text {
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    min-width: 200px;
    max-width: 300px;
}

.alert-content .primary {
    background: rgba(0, 0, 255, 0.4);
    color: whitesmoke;
}

.alert-content .primary:hover {
    background: rgba(2, 2, 196, 0.7);
}

.primary .alert-closeBtn:hover {
    background: rgba(0, 0, 255, 0.4);
}

.primary .alert-closeBtn:active {
    background: rgba(0, 0, 255, 0.6);
}

.alert-content .danger {
    background: rgba(255, 0, 0, 0.4);
    color: whitesmoke;
}

.alert-content .danger:hover {
    background: rgba(215, 3, 3, 0.7);
}

.danger .alert-closeBtn:hover {
    background: rgba(232, 2, 2, 0.4);
}

.danger .alert-closeBtn:active {
    background: rgba(198, 0, 0, 0.6);
}

.alert-content .success {
    background: rgba(0, 128, 0, 0.4);
    color: whitesmoke;
}

.alert-content .success:hover {
    background: rgba(0, 108, 0, 0.7);
}

.success .alert-closeBtn:hover {
    background: rgba(0, 108, 0, 0.4);
}

.success .alert-closeBtn:active {
    background: rgba(0, 108, 0, 0.6);
}

.alert-content .warning {
    background: rgba(255, 255, 0, 0.4);
}

.alert-content .warning:hover {
    background: rgba(238, 238, 0, 0.7);
}

.warning .alert-closeBtn:hover {
    background: rgba(241, 241, 2, 0.4);
}

.warning .alert-closeBtn:active {
    background: rgba(219, 219, 1, 0.6);
}

.alert-closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background: transparent;
    border: none;
    border-radius: 30%;
}




