.Modal {
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 5px 5px grey;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 4px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.modal-top {
    display: flex;
    justify-content: center;
    position: relative;
}

.close-btn {
    position: absolute;
    right: -10px;
    top: -5px;
    border: none;
    background: white;
    font-size: 15px;
    padding: 5px 10px;
    align-self: flex-start;
    justify-self: flex-end;
}

.close-btn:hover {
    border: none;
    background: seashell;
}

.close-btn:active {
    border: none;
    background: #f3e8d7;
}

.modal-title {
    flex-grow: 1;
    text-align: center;
    margin: 15px 0 0 0;
}

.modal-content {
    margin: 15px 0;
}

.modal-btns {
    display: flex;
    flex-direction: row-reverse;
}

.btns {
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
}

.modal-btns .primary {
    background: blue;
    color: white;
}
.modal-btns .primary:hover {
    background: #0202c4;
}
.modal-btns .primary:active {
    background: #02029c;
    box-shadow: 0 0 0 2px #2e2ef5;
}
.modal-btns .danger {
    background: #ff0000;
    color: white;
}
.modal-btns .danger:hover {
    background: #d70303;
}
.modal-btns .danger:active {
    background: #a00303;
    box-shadow: 0 0 0 2px #c40404;
}
.modal-btns .success {
    background: green;
    color: white;
}
.modal-btns .success:hover {
    background: #006c00;
}
.modal-btns .success:active {
    background: #015801;
    box-shadow: 0 0 0 2px green;
}
.modal-btns .warning {
    background: yellow;
}
.modal-btns .warning:hover {
    background: #eeee00;
}
.modal-btns .warning:active {
    background: #e0e000;
    box-shadow: 0 0 0 2px yellow;
}
